.login-container {
  box-sizing: border-box;
 
  &__box-background {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/IMG_9762.JPG');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
  }
  &__box {  
    margin: 250px 10% 0 0;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    color: whitesmoke;
    width: 400px;
    height: 436px;
    filter: blur(3px);
    background-image: url('../../assets/dcard-logo-blue.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .5s;
    opacity: 0.7;
    border-radius: 5px;
    h2 {
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.2;
      color: #000;
      filter: blur(0);
    }
    p {
      font-family: var(--font-serif);
      font-size: 1.125rem;
      font-style: italic;
      line-height: 1.35;
      color: transparent;
      transition: .5s;
    }
  }

  &__box2 {  
    width: 100vw;
    margin: 250px 10% 0 0;
    position: absolute;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    text-align: center;
    color: whitesmoke;
    width: 400px;
    height: 436px;
    transition: .5s;
    border-radius: 5px;
    h2 {
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.2;
      color: #000;
    filter: blur(0);
    }
    p {
      font-size: 1.125rem;
      line-height: 1.35;
      color: transparent;
      transition: .5s;
    }
    &:hover {
      h2 {
        color: #fff;
      }
      .login-container__content {
        transform: translateY(0px);
        transition: .5s;
        background-color: #006AA6;
        border-radius: 5px;
        p {
          color: #fff;
        }
      }
    }

    &:hover+.login-container__box {
      background-image: url('../../assets/dcard-logo-w.png');
    }
  }

  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
    transform: translateY(80px);
    transition: .5s;
    font-family: 'Oswald', sans-serif;
    .ant-btn {
      img {
        margin-right: 5px;
      }
    }
  }

  &:has(.login-container__box2:hover) {
    .login-container__box {
      background-image: url('../../assets/dcard-logo-w.png');
    }
  }

  @media (max-width: 768px) {
    &__box-background {
      justify-content: center;
    }
    &__box, &__box2 {
      width: 300px;
      margin-right: 0;
    }
    &__box2 {
      margin-top: 140px;
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
